{% extends "glue/base.html" %}


{% block content %}

<div class="container">
    <div class="row">
        <section>
        <div class="wizard">
            <div class="wizard-inner">
                <div class="connecting-line"></div>
                <ul class="nav nav-tabs" role="tablist">

                    <li role="presentation" class="active">
                        <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-folder-open"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-pencil"></i>
                            </span>
                        </a>
                    </li>
                    <li role="presentation" class="disabled">
                        <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab" title="Step 3">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-picture"></i>
                            </span>
                        </a>
                    </li>

                    <li role="presentation" class="disabled">
                        <a href="#complete" data-toggle="tab" aria-controls="complete" role="tab" title="Complete">
                            <span class="round-tab">
                                <i class="glyphicon glyphicon-ok"></i>
                            </span>
                        </a>
                    </li>
                </ul>
            </div>

            
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="step1">
                        <h3>Шаг 1</h3>
                        <div class="container">
                        <div class="row">

                            <div class="control-group" id="fields">
                                <label class="control-label" for="field1">Добавьте сообщества</label>
                                <div class="controls">

                                    <form role="form" id="main_form1" autocomplete="off">
                                        <div class="entry input-group col-xs-3">
                                            <input class="form-control" name="communities[]" type="text" placeholder="Type something" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-add" type="button">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>

                                <br>
                                <small>Нажмите <span class="glyphicon glyphicon-plus gs"></span> для добавления другого сообщества</small>
                                </div>
                            </div>

                        </div>
                    </div>
                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-primary next-step">Сохранить и продолжить</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step2">
                        <h3>Шаг 2</h3>

                            <form role="form" id="main_form2" autocomplete="off">
                                        <div class="entry input-group col-xs-3">
{#                                            <input name="message" type="text" placeholder="Сообщение" />#}
                                            <textarea name="message" placeholder="Сообщение" class="form-control" rows="3"></textarea>

                                        </div>
                                    </form>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Назад</button></li>
                            <li><button type="button" class="btn btn-primary next-step">Сохранить и продолжить</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="step3">
                        <h3>Шаг 3</h3>

                        <div class="control-group" id="fields">
                                <label class="control-label" for="field1">Добавьте комментарии</label>
                                <div class="controls2">

                                    <form role="form" id="main_form3" autocomplete="off">
                                        <div class="entry2 input-group col-xs-3">
                                            <input class="form-control" name="comments[]" type="text" placeholder="Type something" />
                                            <span class="input-group-btn">
                                                <button class="btn btn-success btn-add" type="button">
                                                    <span class="glyphicon glyphicon-plus"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </form>

                                <br>
                                <small>Нажмите <span class="glyphicon glyphicon-plus gs"></span> для добавления другого комментария</small>
                                </div>
                            </div>

                        <ul class="list-inline pull-right">
                            <li><button type="button" class="btn btn-default prev-step">Назад</button></li>
{#                            <li><button type="button" class="btn btn-default next-step">Skip</button></li>#}
                            <li><button type="button" class="btn btn-primary btn-info-full next-step">Сохранить и продолжить</button></li>
                        </ul>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="complete">
                        <h3>Завершено</h3>
                        <ul class="list-inline pull-bottom">
                            <li><button type="button" id="finish" class="btn btn-primary btn-info-full finish-step">GO!</button></li>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
        </div>
    </section>
   </div>
</div>


{% endblock %}