{% extends "glue/base.html" %}


{% block content %}
<div class="container">
	<div class="row">
        <div class="control-group" id="fields">
            <label class="control-label" for="field1">Добавьте сообщества</label>
            <div class="controls"> 
                <form role="form" autocomplete="off">
                    <div class="entry input-group col-xs-3">
                        <input class="form-control" name="fields[]" type="text" placeholder="¯\_(ツ)_/¯" />
                    	<span class="input-group-btn">
                            <button class="btn btn-success btn-add" type="button">
                                <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </span>
                    </div>
                </form>
            <br>
            <small>Нажми <span class="glyphicon glyphicon-plus gs"></span> чтобы добавить еще одно сообщество </small>
            </div>
        </div>
	</div>
</div>
{% endblock %}