{% extends "glue/base.html" %}


{% block content %}
    {% for community in communities %}
        <div class="panel panel-default">
            <div class="panel-heading">{{ community.name }}</div>
            <div class="panel-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-2">
                            {% for post in community.post_set.all %}
                                <br>
                                
                                <div class="panel panel-default">
                                    <div class="panel-heading">{{ post.text }}</div>
                                    <div class="panel-body">
                                    <div class="row">
                                    <div class="col-md-6 col-md-offset-5">
                                        {% for comment in post.story.comment_set.all %}
                                            <br>
                                            {% if forloop.counter|divisibleby:2 %}
                                                <div style="text-align: right">
                                                <strong>{{ comment.vkaccount }} </strong>
                                                <img class="img-circle" style="width:35px;height:35px;" src="{{ comment.vkaccount.pic_url }}">
                                                <br>{{ comment.text }}
                                                
                                                </div>
                                            {% else %}
                                                
                                                <img class="img-circle" style="width:35px;height:35px;" src="{{ comment.vkaccount.pic_url }}">
                                                <strong>{{ comment.vkaccount }} </strong>
                                                <br> {{ comment.text }}
                                            {% endif %}
                                            
                                        {% endfor %}
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            {% endfor %}                       
                        </div>
                    </div>
                </div>

            </div>
        </div>

    {% endfor %}
{% endblock %}